/**  reset **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue Helvetica, Arial, sans-serif;
}

/* utilities header */
.login{
    flex-grow: 1;
    text-align: end;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.logo{
    flex-grow: 1; 
    padding-top: 6px;  
}

.link{
    flex-grow: 5;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
}

.link > div {
    padding: 13px 30px;
    color: #ffffff;
}
/************* utilities main *************/

.bg-azure{
    background-color: #255ee9;
    height: 80px;
    padding: 20px 360px 20px 360px;
}

.bg-white{
    background-color: #ffffff;
}

.bg-blue{
    background-image: url('/img/jumbo.png');
    background-repeat: no-repeat;
    background-size: 2504px 700px;
    padding-bottom: 130px;
    height: 700px;
}

.bg-gray{
    background-color: #f6f6f6;
}

.bg-black {
    background-color: #23272a;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 5px solid white;
}

.bg-black-foot {
    background-color: #23272a;
    padding-top: 20px;
    border-bottom: 5px solid white;
}


/********** container *************/

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.container-1{ 
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}


.container-2 {
    width: 800px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 80px;
}

.container-6 {
    width: 1200px;
    margin: 0 auto;
}

.container-7 {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.container-8 {
    background-color: #7fffd4;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
/****** row *********/

.row-1 {
    text-align: center;
    font-size: 30px;
}

.row-2 {
    flex-grow: 1;
}

.row-3 {
    width: 480px;
}


.row-6 {
    width: 1200px;
    text-align: center;
}

/******** section ************/

main > section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/********** footer ************/

.foo-1 {
    background-color: #f08080;
    width: 360px;
}

.foo-2  {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dotted white;
}

.foo-3  {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dotted white;
}

.foo-4  {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dotted white;
}

.foo-5  {
    flex-grow: 1;
    background-color: #20b2aa;
    border: 2px dotted white;
}


.bottone {
    background-color: #ffb6c1;
    border: 2px dotted black;
    padding: 10px;
}

.logo-foot{
    background-color: #ffb6c1;
    border: 2px dotted black;
    padding: 10px;
}

/******* bottoni *******/

button {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
}

 .browser{
    color: #ffffff;
    background-color: #23272a;
}

.mac-stars {
    background-color: #7288da;
    color: #ffffff;
    padding: 15px 10px;
    font-size: 20px;
}

/***** titoli container *****/

h2 {
    font-size: 55px;
    padding-top: 30px;
    padding-bottom: 35px;
}

h3{
    font-size: 30px;
    padding-bottom: 60px;
}

/*** paragrafi ***/

p {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: #ffffff;
}
span {
    color: black;
    font-size: 20px;
}


/**** stelle ****/

.stelle {
    width: 631px;
}

/****** da rimuovere *****/

/*.debug .row-6 {
    height: 900px;
}*/



.debug .container-7 {
    height: 578px;
}  


.debug .container-8 {
    height: 80px;
}